
<h1>Products form Database</h1>
<table class="table table-striped table-bordered product-table"> 
    <thead class="table-dark"> 
        <tr > 
        <th scope="col">Customer ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"> Email</th>
        <th scope="col">Membership Started Date</th>
        <th scope="col">Type</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users"> 
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td> 
            <td>{{user.email}}</td>
            <td>{{user.createdOn | date:'short'}}</td>
            <td>{{user.isAdmin?"Admin":"Customer"}}</td>
            <td><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>

        </tr>
    </tbody>
</table>


