<nav class="navbar navbar-dark navbar-exapnd-sm" style="background-color: #f7c000" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
   
            <span class="navbar-brand" style="color: black; margin-left: 30px;font-weight:bold;">Shop 24x7</span>
        
           <a href="#" style="margin-left: 30px; text-decoration: none; color: #000; font-weight: 500;">Home</a>
        
            <a href="#" style="margin-left: 30px; text-decoration: none; color: #000; font-weight: 500;">Departments</a>
       
            <a href="#" style="margin-left: 30px; text-decoration: none; color: #000; font-weight: 500;">Offers</a>
       
            <a routerLink="/profile" style="margin-left: 30px; text-decoration: none; color: #000; font-weight: 500;">Profile</a>
        
    <ul class="navbar-nav ms-auto">
        <li>
            <form>
                <input class="form-control"  type="search" placeholder="Search">
            </form>
        </li>
        
        
    </ul>
        <a routerLink="/cart" style="color: black;"><i class="bi bi-cart-fill" href="" style="font-size: 25px; margin: 20px; margin-right: 20px;"></i></a>
</nav>