.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 30px;
    margin-left: 20px;
}

.container { 
    margin-top: 20px;
    align-items: center;
    text-align: center;
    width: 1200px;
}


.button {
    pointer-events: none;
    background-color: #EFF4FF;
    border: none;
    color: #2557D6;
    padding: 0.5 0.2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
     margin-top: 10px;
     margin-right: 10px;
  }
.pill{ 
    position: absolute;
    right:0;
    top:0; 
    z-index: 1;
}